body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f9fa;
      background-image: url(background.jpg);
    }
    .hero {
      background-color: #000;
      color: #fff;
      padding: 80px 20px;
      text-align: center;
    }
    .section-title {
      margin-top: 40px;
      color: #00cc44;
      font-weight: bold;

    }
    .price-card {
      border: 2px solid #00cc44;
      border-radius: 10px;
      margin-bottom: 20px;
      transition: transform 0.3s ease;
    }
    .price-card:hover {
      transform: scale(1.03);
    }
    .footer {
      background-color: #fffefe;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }
    .btn-green {
      background-color: #00cc44;
      color: #fff;
    }
    .btn-green:hover {
      background-color: #009933;
    }